.homeAnimalTitle{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #d1d1d1;   
    font-size: 20px;
}
#carousel{
    margin: 10px auto;
    position: relative;
    width: 80%;
    height: 400px;
}
.animalPhotoHome{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto
}
.animalPhotoHome img{
    border: 1px solid #d1d1d1;
}
